{% extends "base-materialize.html" %}
{% block content %}
{% include "nav.html" %}
{# BEGIN #}
<div class="row" align="center">
    <div class="col s4 offset-s4">
      <div class="card" style="width: 90%">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator  responsive-img" src="{{url_for('static', filename='img/me-05.jpg')}}">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Designer<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Adán H Baena<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
    </div>
</div>
{# END #}
{# BEGIN #}
<div class="row" align="center">
    <div class="col s4 offset-s4">
      <div class="card" style="width: 90%">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator  responsive-img" src="{{url_for('static', filename='img/me-04.jpg')}}">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Python developer<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Adán H Baena<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
    </div>
</div>
{# END #}
{# BEGIN #}
<div class="row" align="center">
    <div class="col s4 offset-s4">
      <div class="card" style="width: 90%">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator  responsive-img" src="{{url_for('static', filename='img/me-03.jpg')}}">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">JS developer<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Adán H Baena<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
    </div>
</div>
{# END #}
{# BEGIN #}
<div class="row" align="center">
    <div class="col s4 offset-s4">
      <div class="card" style="width: 90%">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator  responsive-img" src="{{url_for('static', filename='img/me-02.jpg')}}">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Scrum master<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Adán H Baena<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
    </div>
</div>
{# END #}
{# BEGIN #}
<div class="row" align="center">
    <div class="col s4 offset-s4">
      <div class="card" style="width: 90%">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator  responsive-img" src="{{url_for('static', filename='img/me-01.jpg')}}">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">CEO<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Adán H Baena<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
    </div>
</div>
{# END #}


{% include "modals-init.html" %}
{% endblock %}  