<section class="black">
  <div class="carousel carousel-slider" data-indicators="true">
    <div class="carousel-fixed-item">
      <div class="container">
        <h1 class="white-text">BeePlanner</h1>
        <a style="font-size: 22px" href="url_for('about')"> About developers</a>
      </div>
    </div>
    <div class="carousel-item red lighten-2 white-text" href="#one!">
      <div class="container">
        <h2 style="font-size: 30px;">Study Every Day</h2>
        <p class="flow-text" style="font-size: 25px;">When you study every day your mind is fresh</p>
      </div>  
    </div>
    <div class="carousel-item amber darken-2 white-text" href="#two!">
      <div class="container">
        <h2 style="font-size: 30px;">Stay hidrated</h2>
        <p class="flow-text" style="font-size: 25px;">Your body needs water to work properly</p>
      </div> 
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <div class="container">
        <h2 style="font-size: 30px;">Sleep well</h2>
        <p class="flow-text" style="font-size: 25px;">Your body needs rest to work properly</h2>
      </div> 
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <div class="container">
        <h2 style="font-size: 30px;">Keep dreaming</h2>
        <p class="flow-text" style="font-size: 25px;">You're able to get anywhere you want!</p>
      </div> 
    </div>
  </div>
</section>