<div class="row s12" align="center">
  <h2 class="white-text">Schedule</h2>
</div>
<div class="row">
<div class="card-panel schedule z-depth-3">
    <div class="row s12">
        <div class="col s1" align="center"><h4></h4></div>
        {% for day in ('Mon', 'Tue', 'Wed', 'Thu', 'Fri') %}
          <div class="col s2" align="center"><h4>{{ day }}</h4></div>
        {% endfor %}
        <div class="col s1" align="center"><h4></h4></div>

    </div>
    <div class="row">
      <div class="col s1">
        {% for i in range(init, end, 1) %}
        <div class="hours" align="left">{{i}}:00</div>
        {% endfor %}
      </div>

{#             
            {% with  color='lime lighten-1', modal_id='modal-1', trigger='trigger',
                            modal_title='Calculus', content='Hello world', activity=None%}

                {% include 'activity-pop-up.html'%}
            {% endwith%} 
#}
{% for dday in ('monday', 'tuesday', 'wednesday', 'thursday') %}
  <div class="col s2">
  {% for day in days[dday][init:end] %}
    <div class="calendar__day">
    {% if day %}
    <a class="modal-trigger black-text {{ day[2] }} activity-trigger" href="#modal-activity-{{ day[0] }}"> {{ day[1][:8] }} ... </a>         
    {% endif %}
    </div>

  {% endfor %}

  </div>
{% endfor %}

<div class="col s2">
  {% for day in days['friday'][init:end] %}
    <div class="calendar__day friday">
    {% if day %}
    <a class="modal-trigger black-text {{ day[2] }} activity-trigger" href="#modal-activity-{{ day[0] }}"> {{ day[1][:8] }} ... </a>         
    {% endif %}
    </div>
  {% endfor %}


</div>



  </div>
</div>
</div>